:root {

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line:  hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

body {
    background-color: var(--main-bg);
    font-family: Outfit, serif;
    font-size: 18px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: var(--card-bg);
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 7%;
    margin-bottom: 1rem;
}

.logo:hover .overlay {
    opacity: 50%;
    cursor: pointer;
}

.main-image {
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 5rem;
    width: 100%;
    height: auto;

}

.overlay{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--cyan);
   opacity: 0%;
}

.equil-icon {
    color: white;
    opacity: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

h2 {
    max-width: 87%;
    color: var(--white);
    margin-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.title-link {
    color: var(--white);
    text-decoration: none;
}

.title-link:hover {
    color: var(--cyan);
    cursor: pointer;
}

.description {
    color: var(--soft-blue);
    margin: 0 1rem 0 1.5rem;
    font-weight: 300;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem 0 1.5rem;
    border-bottom: solid var(--line) 1px;

}

.price {
    color: var(--cyan);
}

.time {
    color: var(--soft-blue);
}

.icon {
    vertical-align: bottom;
}

.credit {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.5rem 1.5rem;
    color: var(--soft-blue);
}

.credit > p {
    margin-left: 1rem;
}

.author {
    color: var(--white);
    text-decoration: none;
}

.author:hover {
    color: var(--cyan);
    cursor: pointer;
}

.credit > img {
    width: 2rem;
    border: solid white 2px;
    border-radius: 50%;
}

.attribution {
    margin-top: 1rem;
}

